body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f8f9;
}

h1, h2, h3, h4, p {
  margin: 0;
}  

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}  

a {
  color: inherit;
  text-decoration: none;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  padding: 2vmin;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__title {
  margin: 0 auto;
  color: crimson;
  font-size: 22px;
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  cursor: pointer;
}
