* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	background: #d1c8ff;
	font-family: sans-serif;
}



.container {
	
	display: flex;
	flex-direction: column;
}


.popovers {
    position: relative;
    display: inline-block;
    background-color:  #cc0033;
    margin-bottom: 5px;
    border: 1px dashed black;
    border-radius: .4rem;
    width: 500px;
    height: 200px;
    text-align: center;
    color: white;
	  padding: 6px 12px;
	  cursor: pointer;
}

.btnPopovers {
    margin-top: 150px;
    color: white;
    background-color: #da3b4a;
    /* border-radius: .3rem; */
    border-color: #da3b4a;
    border-radius: 5px;
    height: 40px;
    width: 170px;
}

.messagePopovers {
    position: absolute;
    padding: 5px 10px;
    width: 200px;
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
}

/*



p {
    color: black;
}

form {
    margin-top: 200px;
}



.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}

.form-control {
    position: relative;
    margin-bottom: 5px;
}

.form-error {
    position: absolute;
    padding: 5px 10px;
    width: 200px;
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
} */
